*{
    margin: 0rem;
    padding: 0rem;
}


:root{
    font-size: 16px;
    --text-primary:#b6b6b6;
    --text-secondary:#ececec;
    --bg-primary:#23232e;
    --bg-secondary:#141418;
    --transition-speed:600ms;

}

body::-webkit-scrollbar{
    width: 0.5rem;
}

body::-webkit-scrollbar-track{
    color: rgb(65, 56, 45);
}

body::-webkit-scrollbar-thumb{
    background: rgb(65, 56, 45);
}


body{
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
    animation-name: bgcolor;
    animation-duration: 0.1s;
    animation-iteration-count: infinite;
   

}

main{
    /* relative to root element 16*5 */
    margin-left: 5rem;
    padding: 1rem;
}

.navbar{
    z-index: 1;
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    transition: 400ms ease;
}

.navbar-nav{
    
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item{
    width: 100%;
}

.nav-item:last-child{
    /* margin auto gives max margin */
    margin-top:auto ;
}

.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    filter: grayscale(100%) opacity(0.8);
    text-decoration: none;
    transition: var(--transition-speed);
}

.nav-link:hover{
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text{
    display: none;
    margin-left: 1rem;
}

.nav-link svg{
    min-width: 2rem; 
     margin: 0 1.5rem;
}

.navbar:hover{
    width: 15rem;
}

.navbar:hover .link-text{
    display: block;
}

svg{
    fill: #ff7eee;
    
    transition: var(--transition-speed);
}


.logo{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    letter-spacing: 0.3ch;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    width: 100%;
}

.logo svg{
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}


.navbar:hover .logo svg{
    transform: rotate(180deg);
    transition: var(--transition-speed);
}
main{
    margin-left: 5rem;
    padding-left: 1rem;
   
   
}
@keyframes bgcolor{
    0%{
        background:linear-gradient(30deg,rgb(238, 217, 124),rgb(127, 229, 233),rgb(117, 247, 84),rgb(236, 109, 109));

        
    }

    100%{
        background:linear-gradient(-30deg,rgb(233, 99, 75),rgb(143, 106, 245),rgb(214, 193, 193),rgb(243, 113, 163));
    }
    
}


main{
    padding: 0rem;
    margin: 0rem;
    background-color: #CFB9EE;
    background-size: cover;
}

.header{
    background-image: url(../images/bgtop.jpg) ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:25vh;
    width: 100%;
    text-align: center;
    z-index: -1;
  

}

.header ul{
    padding: 0rem;
    font-size: 2rem;
    font-weight: 100;
    text-decoration: none;
    font-family: 'Bree Serif', serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
   
}
.header li a{
    text-decoration: none;
    color: rgb(0, 100, 131);
    
    
}
.header li{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding-left: 5rem;
}
.header h1{
    font-family: 'Roboto Slab', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    color: rgb(42, 60, 126);
}
#sem7 h1,#sem8 h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    color: darkslategrey;
    font-weight: normal;
    font-family: 'Bree Serif', serif;
    text-decoration: underline;
}
.s1{
display: grid;
   grid-template-columns: repeat(auto-fill,minmax(325px,1fr));
    grid-gap: 2rem;
    grid-auto-rows: auto;
    }
}

.section-grid{
    margin-left: 10rem;
}
.c1{
    background-image: linear-gradient( #400751, #3d3872, #445c89, #5f7d98, #49aee0);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width:80%;
    border-radius: 10px;
    transition:all 500ms;
}
.h1{
    padding: 1rem;
}

.co1 h4{
    padding: 1rem;
    font-family: 'Vollkorn', serif;
font-style: normal;
font-weight: 200;
font-size:1.2rem;
line-height: 19px;
text-align: justify;
color:rgb(8, 51, 51);

}

.co1 h2{
    display: flex;
    justify-content: center;
    align-items: center;
   padding: 0.5rem;
   font-size: 1.8rem;
  font-weight: normal;
   font-family: 'Bree Serif', serif;
   color: rgb(8, 51, 51);

}

.f1{
   padding: 1rem;
}

.c1:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px  8px 4px rgb(92, 51, 241);
    transform: scale(1.05);
}

.f1 button{
    border-radius: 12px;
    height: 3rem;
    width: 8rem;
    background-color:rgb(0, 46, 83);
    color: rgb(255, 255, 255);
    font-family: 'Bree Serif', serif;
   
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
}

.f1 button:hover{
    text-shadow: 4px 4px 8px rgb(232, 248, 3);
    font-weight:bold;
}
.sn1{
    padding: 0rem;
    margin: 1.5rem;
    text-align: center;
    color:#4A4453;
    font-family: 'Vollkorn', serif;
font-style: normal;
font-weight: bold;

}

@media screen and (max-width: 600px) {
    .s1 {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
    .c1{
        margin-top: 1.5rem;
    }

  
  .sn1{
    padding: 0.5rem;
    margin: 3.5rem;
    text-align: center;
    color:white;
}
.h1 img{
    padding: 1rem;
}
}
